<mat-card>
  <mat-card-content>
<section>
  <div class="example-button-row">
    <a mat-fab routerLink="./calculators">Calculators</a>
  </div>
  <div class="example-button-row">
    <a mat-fab routerLink="./doctors">Doctors</a>
  </div>
  <div class="example-button-row">
    <a mat-fab routerLink="./appointments">Appointments</a>
  </div>
  <div class="example-button-row">
    <a mat-fab routerLink="./h-tips">Health tips</a>
  </div>
  <div class="example-button-row">
    <a mat-fab routerLink="./h-tips">Logout {{currentUser}}</a>
  </div>
</section>
</mat-card-content>
</mat-card>
<router-outlet></router-outlet>